@media screen and (max-width: 1400px) {
    #profile {
      height: 83hv;
      margin-bottom: 6rem;
    }
    .about-containers {
      flex-wrap: wrap;
    }
  }


@media screen and (max-width: 1200px) {
    #desktop-nav {
        display: none;
    }
    #hamburger-nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    /* Hide desktop theme toggle on mobile */
    .theme-toggle {
      display: none;
    }
    /* Show mobile theme toggle */
    .theme-toggle-mobile {
      display: flex;
    }
    /* Hide footer navigation on mobile */
    footer nav {
      display: none;
    }
    #experience, .experience-details-container {
      margin-top: 2rem;
    }
    #profile, .section-container {
      display: block;
    }
    .arrow {
      display: none;
    }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
  .about-containers {
    margin-top: o;
  }
}

@media screen and (max-width: 1200px) {
    #contact,
    footer {
      height: 40vh;
    }
    #profile {
      height: 83vh;
      margin-bottom: 0;
    }
    article (
      font-size: 1rem;
    )
    footer nav {
      height: fit-content;
      margin-bottom: 2rem;
    }
    .about-containers,
    .contact-info-upper-container,
    .btn-container {
      flex-wrap: wrap;
    }
    .concact-info-container {
      margin: 0;
    }
    .contact-info-contaier p,
    .nav-links li a {
      font-size: 1rem;
    }

    .experience-sub-titlle {
      font-size: 1.25rem;
    }
    
    .logo {
      font-size: 1.25rem;
    }
    .nav-links {
      flex-direction: column;
      gap: 0.5rem;
      text-align: center;
    }
    .section__pic-container {
      width: auto;
      height: 46vw;
      justify-content: center;
    }
    .section__text__p2 {
      font-size: 1.25rem;
    }
    .title {
      font-size: 2rem;
    }
    .text-container {
      text-align: justify;
    }
  }

    
    
    
    
    
    
    
    {
